<div class="row">
    <div class="large-4 column">
        <ul>
            {{#each}}
                <li>
                    <span>{{status}}</span>
                    {{#linkTo "ticket" this}}{{title}}{{/linkTo}}
                </li>
            {{/each}}
        </ul>
        {{#linkTo "tickets.new" class="button small"}} New Ticket {{/linkTo}}
    </div>

    <div class="large-6 column">
        {{ outlet }}
    </div>
</div>
